/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3451b2;
  --ifm-color-primary-dark: #2f49a0;
  --ifm-color-primary-darker: #2c4597;
  --ifm-color-primary-darkest: #24397d;
  --ifm-color-primary-light: #3959c4;
  --ifm-color-primary-lighter: #4160c7;
  --ifm-color-primary-lightest: #5c76cf;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #9499ff;
  --ifm-color-primary-dark: #6c73ff;
  --ifm-color-primary-darker: #585fff;
  --ifm-color-primary-darkest: #1b26ff;
  --ifm-color-primary-light: #bcbfff;
  --ifm-color-primary-lighter: #d0d3ff;
  --ifm-color-primary-lightest: #ffffff;
}
